<!doctype html>
<html>
<head>
  <title>Madlib Game</title>
</head>
<body>
    Lets play!

    <form action="/madlib">

      <input type="checkbox" name="user_name" value="name"> 
      <label for="name"> Do you want to include your name? </label><br>
      What is your name? <input type="text" name="person">

<p></p>
    
      <input type="checkbox" name="user_color" value="color"> 
      <label for="color"> Do you want to include a color? </label><br>
      Name of color? <input type="text" name="color">

<p></p>      
      <input type="checkbox" name="user_noun" value="noun"> 
      <label for="noun"> Do you want to include a noun? </label><br>      
      Name of noun? <input type="text" name="noun">

<p></p>      
      <input type="checkbox" name="user_adjective" value="adjective"> 
      <label for="adjective"> Do you want to include a adjective? </label><br>      
      Name of adjective? <input type="text" name="adjective">

<p></p>
      <input type="submit">
    </form>

</body>
</html>

<!-- <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1"> I have a bike</label><br>
<input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2"> I have a car</label><br>
<input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> I have a boat</label><br> -->